.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  }
  
  .signup-form {
    width: 400px;
    padding: 1px;
    border-radius: 8px;
    background-color: #52922E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .signup-form .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .signup-form .form-group label {
    font-weight: bold;
    margin-bottom: 10px;
    color: brown;
  }
  
  .signup-form .form-group input {
    width: 260px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    font-size: 16px;
  }
  
  .signup-form button{
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: red;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .signup-form p{
    font-size: 14px;
  }