.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    color: #fff;
    padding: 10px;
    height: 70px;
  }
  
  .logo {
    height: 85.81px;
    width: 170.39px;
    padding-bottom: 10px;
  }
  
  .search-form {
    flex: 1;
    margin: 0 auto;
    margin-right: 100px;
    text-align: center;
  }
  
  .search-box {
    padding: 5px;
    border-radius: 12px;
    border: none;
    margin-right: 10px;
  }
  
  .search-button {
    padding: 5px 5px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #333;
    width: 30px;
    cursor: pointer;
  }
  